{% load static %}
{% include 'components/header.html' %}

<link rel="stylesheet" href="{% static 'css/book.css' %}">
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">

        {% for i in movies_list %}
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Обложка книги">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.created_at }}</p>
                    <a href="/movie_detail/{{ i.id }}/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Добавьте дополнительные карточки книг здесь -->
    </div>
</div>
{% include 'components/footer.html' %}