{%load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/book_detail' %}">
<link rel="stylesheet" href="{% static 'css/book.css' %}">
<!-- Контент с информацией о книге -->
<div class="container mt-4">
    <div class="book-card">
        <div class="card">
            <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Книга">
            <div class="card-body">
                <h5 class="card-title">{{ movie_id.name }}</h5>
                <p class="card-text">{{ movie_id.description }}</p>
                <p><strong>Цена:</strong> ${{ movie_id.price }}</p>
                <p><strong>Дата выхода:</strong> {{ movie_id.created_at }}</p>
                <p><strong>Жанр:</strong> {{ movie_id.genre }}</p>
                <p><strong>Почта:</strong> {{ movie_id.author_email }}</p>
                <p><strong>Автор:</strong> {{ movie_id.author_name }}</p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    {% for i in book.reviews.all %}
    <!-- Блок для комментариев -->
    <div class="comment-section">
        <h5>Комментарии</h5>
        <div class="comment">
            <p> {{ i.created_at }} : {{ i.comment }} <strong>Оценка:</strong> {{ i.stars }} 5</p>
        </div>

    </div>
    {% endfor %}
</div>

{% include 'components/footer.html' %}